<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.qalegendbilling.listeners.TestListener"/>
	</listeners>
  <test thread-count="5" name="Functional Test">
	   <parameter name="browser" value="chrome"/>
    <classes>
		  <class name="com.qalegendbilling.testscript.LoginTest">
			  <methods>
			<include name="tc_001_verifyvalidLogin"></include>	  
			  </methods>  
		  </class>
		  <class name="com.qalegendbilling.testscript.HomeTest">
			  <methods>
				  <include name="tc_004_verifySignoutPage">	  
				  </include>
			  </methods>
		  </class>
		  <class name="com.qalegendbilling.testscript.ResetTest">
			  <methods>
				  <include name="tc_003_verifyForgotPassword">	  
				  </include>
			  </methods>
		  </class>
	  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
